
table.shortcut-tips-table{
    width: 100%;
}

table.shortcut-tips-table th{
    background-color: #cfcfcf;
}

table.shortcut-tips-table th,td{
    height: 30px;
    text-align: left;
    padding: 6px 12px;
    border-bottom: 1px solid #dddddd;
}
