
table.shortcut-tips-table{
    width: 100%;
}

table.shortcut-tips-table th{
    background-color: #cfcfcf;
}

table.shortcut-tips-table th,td{
    height: 30px;
    text-align: left;
    padding: 6px 12px;
    border-bottom: 1px solid #dddddd;
}

article.product:focus {
    border: 2px solid #e31212 !important;
}

.pos .category-list-scroller{
    max-height:25vh !important;
}